* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: 80px auto;
    background: rgb(249, 249, 255);
}

main {
    display: flex;
    gap: 20px
}

section {
    /* border: 2px solid; */
    height: 170vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-photo {
    width: 100%;
}

.box {
    border: 2px solid #2b7bf3;
     width: 320px;
     height: 100%;
     
     margin-bottom: 20px; 
     background-color: white;
}

.about-description {
    padding: 20px;
}

.first-box {
    padding: 0;
}

.title-container {
    font-weight: bold;
}

.contact-info  {
    font-weight: bold;
    /* font-size: 16px; */
}



h1, h2 {
    color: #1062db;
    font-size: 20px;
}

p, ul {
  color: #2b7bf3;
}

h2 {
    margin-bottom: 12px;
}

ul li {
    margin-bottom: 5px;
}

/*  */

/* .section-one-second {
    height: 242px;
} */

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2b7bf3;
    padding: 7px;
}

.title-container img {
    width: 30px;
}

.section-one-second {
    padding: 0;
}

.box-description {
    padding: 10px 20px;
}

.box-description p{
    margin-bottom: 10px;
}

.title-dot {
    width: 7px;
    height: 7px;
    background-color: #010190;
}   

.dot-container {
    display: flex;
    gap: 5px
}

.icon {
    width: 100px;
}

/* Responsive Design */

@media screen and (max-width: 490px) {
    main {
        display: block;
    }

    section {
    /* border: 2px solid; */
    height: auto;

    display: block;
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

    .box {
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
    }
    
    .profile-photo {
        width: 100%;
    }
}